.link { 
    width: 50%;
    // display: none;
    // opacity: 0;
    font-size: x-large;
    .show{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 5px;
        .look {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 5px 5px 5px 5px;
            height: 35px;
            .name {
                font-size: 20px;
                width: 200px;
            }
            .show-link {
                border-style: solid;
                background-color: #4848541a;
                width: 100%;
                height: 100%;
                margin: 0px 10px 0px 5px;
            }
            i:hover {
                cursor: pointer;
            }
            // &.excel{
    
            // }
        }
    }
    
}